@model songProject.Models.User
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

   @using (Html.BeginForm("addUser","User",FormMethod.Post))
{

<div>
    username:
    @Html.TextBoxFor(model => model._id)
    password:
    @Html.TextBoxFor(model => model.password)
    first name:
    @Html.TextBoxFor(model => model.firstname)
    last name:
    @Html.TextBoxFor(model => model.lastname)
    Age:
    @Html.TextBoxFor(model => model.age)
    Type:
    @Html.TextBoxFor(model => model.type)
    <button type="submit" >add</button>
</div>

}