@model songProject.Models.Book
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
   
   @using (Html.BeginForm("addBook","Book",FormMethod.Post))
{

<div>
    Title:
    @Html.TextBoxFor(model => model.title)
    Author:
    @Html.TextBoxFor(model => model.author)
    type:
    @Html.TextBoxFor(model => model.type)
    published year:
    @Html.TextBoxFor(model => model.publishedYear)
    Summary:
    @Html.TextBoxFor(model => model.summary)
    Price:
    @Html.TextBoxFor(model => model.price)
    Content:
    @Html.TextBoxFor(model => model.content)
    Image:
    @Html.TextBoxFor(model => model.image)
  


    <button type="submit" >add</button>
</div>

}